<html>
<body>
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-12">
				<h3 class="text-center">وارد شوید!</h3>
				<br />
				<form>
					<div class="row">
						<div class="mb-3">
							<label for="validationDefaultUsername">نام کاربری</label>
							<input type="text" class="form-control form-floating" id="validationDefaultUsername" aria-describedby="inputGroupPrepend2" required>
						</div>
						<div class="mb-3">
							<label for="exampleInputPassword1" class="form-label">کلمه‌ی عبور</label>
							<input type="password" class="form-control form-floating" id="exampleInputPassword1">
						</div>

						<button type="submit" class="btn btn-secondary">ورود</button>
					</div>
				</form>
			</div>
			<div class="col-lg-6 col-md-12">
				<h3 class="text-center">ثبت‌نام کنید!</h3>
				<br />
				<form>
					<div class="row">
						<div class="mb-3">
							<label for="validationDefaultUsername">نام کاربری</label>
							<input type="text" class="form-control form-floating" id="validationDefaultUsername" aria-describedby="inputGroupPrepend2" required>
						</div>
						<div class="col-lg-6 col-md-12">
							<label for="validationDefault01">نام</label>
							<input type="text" class="form-control form-floating" id="validationDefault01" required>
						</div>
						<div class="col-lg-6 col-md-12">
							<label for="validationDefault01">نام خانوادگی</label>
							<input type="text" class="form-control form-floating" id="validationDefault01" required>
						</div>
						<div class="m-1">
							<div class="custom-control custom-radio custom-control-inline col-6">
								<input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
								<label class="custom-control-label" for="customRadioInline1">زن</label>
							</div>
							<div class="custom-control custom-radio custom-control-inline col-6">
								<input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
								<label class="custom-control-label" for="customRadioInline2">مرد</label>
							</div>
						</div>
						<p>
							<br />
							تاریخ تولد:
						</p>
						<select class="custom-select col-3 form-floating m-2 text-center">
							<option selected>روز</option>
							<option value="1">۱</option>
							<option value="2">۲</option>
							<option value="3">۳</option>
							<option value="4">۴</option>
							<option value="5">۵</option>
							<option value="6">۶</option>
							<option value="7">۷</option>
							<option value="8">۸</option>
							<option value="9">۹</option>
							<option value="10">۱۰</option>
							<option value="11">۱۱</option>
							<option value="12">۱۲</option>
							<option value="13">۱۳</option>
							<option value="14">۱۴</option>
							<option value="15">۱۵</option>
							<option value="16">۱۶</option>
							<option value="17">۱۷</option>
							<option value="18">۱۸</option>
							<option value="19">۱۹</option>
							<option value="20">۲۰</option>
							<option value="21">۲۱</option>
							<option value="22">۲۲</option>
							<option value="23">۲۳</option>
							<option value="24">۲۴</option>
							<option value="25">۲۵</option>
							<option value="26">۲۶</option>
							<option value="27">۲۷</option>
							<option value="28">۲۸</option>
							<option value="29">۲۹</option>
							<option value="30">۳۰</option>
							<option value="31">۳۱</option>
						</select>
						<select class="custom-select col-3 form-floating m-2 text-center">
							<option selected>ماه</option>
							<option value="1">۱</option>
							<option value="2">۲</option>
							<option value="3">۳</option>
							<option value="4">۴</option>
							<option value="5">۵</option>
							<option value="6">۶</option>
							<option value="7">۷</option>
							<option value="8">۸</option>
							<option value="9">۹</option>
							<option value="10">۱۰</option>
							<option value="11">۱۱</option>
							<option value="12">۱۲</option>
						</select>
						<select class="custom-select col-3 form-floating m-2 text-center">
							<option selected>سال</option>
							<option>۱۳۸۰</option>
							<option>۱۳۸۱</option>
							<option>۱۳۸۲</option>
							<option>۱۳۸۳</option>
							<option>۱۳۸۴</option>
							<option>۱۳۸۵</option>
							<option>۱۳۸۶</option>
							<option>۱۳۸۷</option>
							<option>۱۳۸۸</option>
							<option>۱۳۸۹</option>
							<option>۱۳۹۰</option>
							<option>۱۳۹۱</option>
							<option>۱۳۹۲</option>
							<option>۱۳۹۳</option>
							<option>۱۳۹۴</option>
							<option>۱۳۹۵</option>
							<option>۱۳۹۶</option>
							<option>۱۳۹۷</option>
							<option>۱۳۹۸</option>
						</select>
						<p>
							<br />
							محل تولد:
						</p>
						<select class="custom-select col-10 form-floating m-2 text-center">
							<option selected>شهر</option>
							<option value="1">تهران</option>
							<option value="2">البرز</option>
						</select>
						<p>
							<br />
							گروه سنی:
						</p>
						<select class="custom-select col-10 form-floating m-2 text-center">
							<option selected>بازه‌ی سنی</option>
							<option value="1">۳ الی ۶ سال</option>
							<option value="2">۶ الی ۹ سال</option>
							<option value="3">۹ الی ۱۲ سال</option>
							<option value="4">۱۲ الی ۱۵ سال</option>
							<option value="5">۱۵ الی ۱۸ سال</option>
							<option value="6">۱۸ الی ۲۱ سال</option>
							<option value="7">۲۱ سال به بالا</option>
						</select>
						<div class="mb-3">
							<label for="exampleInputEmail1" class="form-label">ایمیل</label>
							<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
						</div>
						<div class="mb-3">
							<label for="exampleInputPhone" class="form-label">شماره همراه</label>
							<input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
						</div>
						<div class="mb-3">
							<label for="exampleInputPassword1" class="form-label">کلمه‌ی عبور</label>
							<input type="password" class="form-control form-floating" id="exampleInputPassword1">
						</div>
						<div class="mb-3">
							<label for="exampleInputPassword1" class="form-label">تکرار کلمه‌ی عبور</label>
							<input type="password" class="form-control form-floating" id="exampleInputPassword1">
						</div>
						<button type="submit" class="btn btn-secondary">ثبت‌نام</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>

