
<html>
<body>
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-12">
				<h3 class="text-center">راه‌های ارتباطی</h3>
				<br />
				<table class="table table-hover">
					<thead>
						<tr>
							<th scope="col"></th>
							<th scope="col">نام</th>
							<th scope="col">نام خانوادگی</th>
							<th scope="col" dir="ltr">Email</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th scope="row">۱</th>
							<td>فرناز</td>
							<td>هوشمند</td>
							<td dir="ltr"><a href="farnaz.h29581@gmail.com" class="text-decoration-none" style="color:darkslateblue">farnaz.h29581@gmail.com</a></td>
						</tr>
						<tr>
							<th scope="row">۲</th>
							<td>مریم</td>
							<td>پورفرزین</td>
							<td dir="ltr"><a href="maryam81.farzin@gmail.com" class="text-decoration-none" style="color:darkslateblue">maryam81.farzin@gmail.com</a></td>
						</tr>
						<tr>
							<th scope="row">۳</th>
							<td>ثنا</td>
							<td>خانی</td>
							<td dir="ltr"><a href="sana28khani@gmail.com" class="text-decoration-none" style="color:darkslateblue">sana28khani@gmail.com</a></td>
						</tr>
						<tr>
							<th scope="row">۴</th>
							<td>سارا</td>
							<td>فراهانی</td>
							<td dir="ltr"><a href="sara.sh.farahani@gmail.com" class="text-decoration-none" style="color:darkslateblue">sara.sh.farahani@gmail.com</a></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-lg-6 col-md-12">
				<h3 class="text-center">انتقادات و پیشنهادات</h3>
				<br />
				<br />
				<form>
					<div class="form-group">
						<label for="exampleFormControlInput1"><b>ایمیل</b></label>
						<input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
					</div>
					<br />
					<div class="form-group">
						<label for="exampleFormControlTextarea1"><b>متن</b></label>
						<textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>