<html>
<body>
	<div class="album py-5 bg-light">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<div class="card mb-4 shadow-sm">
						<img class="bd-placeholder-img card-img-top"
							 width="100%"
							 height="100%"
							 src="~/lib/94cb3fa0-9abe-4910-947e-db798274cb7f.jpeg" />

						<div class="card-body">
							<p class="card-text">
								خسرو و شیرین . قسمت ۱
							</p>
							<div class="d-flex justify-content-between align-items-center">
								<div class="btn-group">
									<a href="https://www.webtoons.com/en/canvas/ancient-lovers-khosrow-shirin/the-stranger/viewer?title_no=648195&episode_no=1">
										<button type="button"
												class="btn btn-sm btn-outline-secondary">
											خواندن
										</button>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card mb-4 shadow-sm">
						<img class="bd-placeholder-img card-img-top"
							 width="100%"
							 height="100%"
							 src="~/lib/94cb3fa0-9abe-4910-947e-db798274cb7f.jpeg" />
						<div class="card-body">
							<p class="card-text">
								خسرو و شیرین . قسمت ۲
							</p>
							<div class="d-flex justify-content-between align-items-center">
								<div class="btn-group">
									<a href="https://www.webtoons.com/en/canvas/ancient-lovers-khosrow-shirin/magical-horse/viewer?title_no=648195&episode_no=3">
										<button type="button"
												class="btn btn-sm btn-outline-secondary">
											خواندن
										</button>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card mb-4 shadow-sm">
						<img class="bd-placeholder-img card-img-top"
							 width="100%"
							 height="100%"
							 src="~/lib/94cb3fa0-9abe-4910-947e-db798274cb7f.jpeg" />
						<div class="card-body">
							<p class="card-text">
								خسرو و شیرین . قسمت ۳
							</p>
							<div class="d-flex justify-content-between align-items-center">
								<div class="btn-group">
									<a href="https://www.webtoons.com/en/canvas/ancient-lovers-khosrow-shirin/sworn-enemy/viewer?title_no=648195&episode_no=4">
										<button type="button"
												class="btn btn-sm btn-outline-secondary">
											خواندن
										</button>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card mb-4 shadow-sm">
						<img class="bd-placeholder-img card-img-top"
							 width="100%"
							 height="100%"
							 src="~/lib/94cb3fa0-9abe-4910-947e-db798274cb7f.jpeg" />
						<div class="card-body">
							<p class="card-text">
								خسرو و شیرین . قسمت ۴
							</p>
							<div class="d-flex justify-content-between align-items-center">
								<div class="btn-group">
									<a href="https://www.webtoons.com/en/canvas/ancient-lovers-khosrow-shirin/runaway-prince/viewer?title_no=648195&episode_no=5">
										<button type="button"
												class="btn btn-sm btn-outline-secondary">
											خواندن
										</button>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card mb-4 shadow-sm">
						<img class="bd-placeholder-img card-img-top"
							 width="100%"
							 height="100%"
							 src="~/lib/94cb3fa0-9abe-4910-947e-db798274cb7f.jpeg" />
						<div class="card-body">
							<p class="card-text">
								خسرو و شیرین . قسمت ۵
							</p>
							<div class="d-flex justify-content-between align-items-center">
								<div class="btn-group">
									<a href="https://www.webtoons.com/en/canvas/ancient-lovers-khosrow-shirin/the-first-time/viewer?title_no=648195&episode_no=6">
										<button type="button"
												class="btn btn-sm btn-outline-secondary">
											خواندن
										</button>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card mb-4 shadow-sm">
						<img class="bd-placeholder-img card-img-top"
							 width="100%"
							 height="100%"
							 src="~/lib/94cb3fa0-9abe-4910-947e-db798274cb7f.jpeg" />
						<div class="card-body">
							<p class="card-text">
								خسرو و شیرین . قسمت ۶
							</p>
							<div class="d-flex justify-content-between align-items-center">
								<div class="btn-group">
									<a href="https://www.webtoons.com/en/canvas/ancient-lovers-khosrow-shirin/trapped-princess/viewer?title_no=648195&episode_no=7">
										<button type="button"
												class="btn btn-sm btn-outline-secondary">
											خواندن
										</button>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card mb-4 shadow-sm">
						<img class="bd-placeholder-img card-img-top"
							 width="100%"
							 height="100%"
							 src="~/lib/94cb3fa0-9abe-4910-947e-db798274cb7f.jpeg" />
						<div class="card-body">
							<p class="card-text">
								خسرو و شیرین . قسمت ۷
							</p>
							<div class="d-flex justify-content-between align-items-center">
								<div class="btn-group">
									<a href="https://www.webtoons.com/en/canvas/ancient-lovers-khosrow-shirin/behind-the-curtain-part-one/viewer?title_no=648195&episode_no=8">
										<button type="button"
												class="btn btn-sm btn-outline-secondary">
											خواندن
										</button>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card mb-4 shadow-sm">
						<img class="bd-placeholder-img card-img-top"
							 width="100%"
							 height="100%"
							 src="~/lib/94cb3fa0-9abe-4910-947e-db798274cb7f.jpeg" />
						<div class="card-body">
							<p class="card-text">
								خسرو و شیرین . قسمت ۸
							</p>
							<div class="d-flex justify-content-between align-items-center">
								<div class="btn-group">
									<a href="https://www.webtoons.com/en/canvas/ancient-lovers-khosrow-shirin/behind-the-curtain-part-two/viewer?title_no=648195&episode_no=9">
										<button type="button"
												class="btn btn-sm btn-outline-secondary">
											خواندن
										</button>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card mb-4 shadow-sm">
						<img class="bd-placeholder-img card-img-top"
							 width="100%"
							 height="100%"
							 src="~/lib/94cb3fa0-9abe-4910-947e-db798274cb7f.jpeg" />
						<div class="card-body">
							<p class="card-text">
								خسرو و شیرین . قسمت ۹
							</p>
							<div class="d-flex justify-content-between align-items-center">
								<div class="btn-group">
									<a href="https://www.webtoons.com/en/canvas/ancient-lovers-khosrow-shirin/at-the-end-of-a-long-night-part-one/viewer?title_no=648195&episode_no=10">
										<button type="button"
												class="btn btn-sm btn-outline-secondary">
											خواندن
										</button>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card mb-4 shadow-sm">
						<img class="bd-placeholder-img card-img-top"
							 width="100%"
							 height="100%"
							 src="~/lib/94cb3fa0-9abe-4910-947e-db798274cb7f.jpeg" />
						<div class="card-body">
							<p class="card-text">
								خسرو و شیرین . قسمت ۱۰
							</p>
							<div class="d-flex justify-content-between align-items-center">
								<div class="btn-group">
									<a href="https://www.webtoons.com/en/canvas/ancient-lovers-khosrow-shirin/at-the-end-of-a-long-night-part-two/viewer?title_no=648195&episode_no=11">
										<button type="button"
												class="btn btn-sm btn-outline-secondary">
											خواندن
										</button>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card mb-4 shadow-sm">
						<img class="bd-placeholder-img card-img-top"
							 width="100%"
							 height="100%"
							 src="~/lib/94cb3fa0-9abe-4910-947e-db798274cb7f.jpeg" />
						<div class="card-body">
							<p class="card-text">
								خسرو و شیرین . قسمت ۱۱
							</p>
							<div class="d-flex justify-content-between align-items-center">
								<div class="btn-group">
									<a href="https://www.webtoons.com/en/canvas/ancient-lovers-khosrow-shirin/the-new-king/viewer?title_no=648195&episode_no=12">
										<button type="button"
												class="btn btn-sm btn-outline-secondary">
											خواندن
										</button>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card mb-4 shadow-sm">
						<img class="bd-placeholder-img card-img-top"
							 width="100%"
							 height="100%"
							 src="~/lib/94cb3fa0-9abe-4910-947e-db798274cb7f.jpeg" />
						<div class="card-body">
							<p class="card-text">
								خسرو و شیرین . قسمت ۱۲
							</p>
							<div class="d-flex justify-content-between align-items-center">
								<div class="btn-group">
									<a href="https://www.webtoons.com/en/canvas/ancient-lovers-khosrow-shirin/the-hard-responsibility/viewer?title_no=648195&episode_no=14">
										<button type="button"
												class="btn btn-sm btn-outline-secondary">
											خواندن
										</button>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card mb-4 shadow-sm">
						<img class="bd-placeholder-img card-img-top"
							 width="100%"
							 height="100%"
							 src="~/lib/94cb3fa0-9abe-4910-947e-db798274cb7f.jpeg" />
						<div class="card-body">
							<p class="card-text">
								خسرو و شیرین . قسمت ۱۳
							</p>
							<div class="d-flex justify-content-between align-items-center">
								<div class="btn-group">
									<a href="https://www.webtoons.com/en/canvas/ancient-lovers-khosrow-shirin/rise-of-a-puppet-king-part-one/viewer?title_no=648195&episode_no=15">
										<button type="button"
												class="btn btn-sm btn-outline-secondary">
											خواندن
										</button>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>