<table class="table table-hover">
	<thead>
		<tr>
			<th scope="col"></th>
			<th scope="col">منابع</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th scope="row">۱</th>
			<td><a href="https://library.tebyan.net/fa/Common/About" class="text-decoration-none" style="color:darkslateblue">تبیان</a></td>
		</tr>
		<tr>
			<th scope="row">۲</th>
			<td><a href="https://www.noorsoft.org/fa/default" class="text-decoration-none" style="color:darkslateblue">نور</a></td>
		</tr>
		<tr>
			<th scope="row">۳</th>
			<td><a href="https://www.ghbook.ir/index.php?lang=fa" class="text-decoration-none" style="color:darkslateblue">قائمیه</a></td>
		</tr>
		<tr>
			<th scope="row">۴</th>
			<td><a href="https://comicfarsi.com/" class="text-decoration-none" style="color:darkslateblue">کمیک فارسی</a></td>
		</tr>
		<tr>
			<th scope="row">۵</th>
			<td><a href="https://www.comicon.ir/category/comics/" class="text-decoration-none" style="color:darkslateblue">کمیکان</a></td>
		</tr>
		<tr>
			<th scope="row">۶</th>
			<td><a href="https://www.webtoons.com/en/?webtoon-platform-redirect=true" class="text-decoration-none" style="color:darkslateblue">وبتون</a></td>
		</tr>
	</tbody>
</table>
